<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet"/>
    <link th:href="@{/css/techjobs.css}" rel="stylesheet"/>
    <script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>
    <title th:text="'TechJobs' + (title != null ? ' :: ' + title : '')">TechJobs</title>
</head>
<body>
<!-- Page Header Fragment -->
<div th:fragment="page-header" class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a th:href="@{/}" class="navbar-brand">TechJobs</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a th:href="@{/search}">Search</a></li>
                <li><a th:href="@{/list}">List</a></li>
            </ul>
        </div>
    </div>
</div>
<!-- Job Details Fragment -->
<div>
    <table th:each="job : ${jobs}" class="job-listing" th:fragment="job-details">
        <tr>
            <th>ID</th>
            <td th:text="${job.id}">ID</td>
        </tr>
        <tr>
            <th>Title</th>
            <td th:text="${job.name}">Title</td>
        </tr>
        <tr>
            <th>Position Type</th>
            <td th:text="${job.positionType.value}">Position Type</td>
        </tr>
        <tr>
            <th>Employer</th>
            <td th:text="${job.employer.value}">Employer</td>
        </tr>
        <tr>
            <th>Location</th>
            <td th:text="${job.location.value}">Location</td>
        </tr>
        <tr>
            <th>Skill</th>
            <td th:text="${job.coreCompetency.value}">Skill</td>
        </tr>
    </table>
    <br/>
</div>
</body>
</html>