<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="/css/bootstrap.css" rel="stylesheet" />
    <link href="/css/techjobs.css" rel="stylesheet" />
    <script type="text/javascript" src="/js/bootstrap.js"></script>
    <title th:text="'TechJobs :: ' + ${title}">TechJobs</title>
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a href="/" class="navbar-brand">TechJobs</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/search">Search</a></li>
                <li><a href="/list">List</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="container body-content">
    <h1 th:text="${title}">Jobs with title</h1>
    <form th:action="@{/search/results}" method="post">
        <h2>Search by:</h2>
        <p>
            <span th:each="column : ${columns}">
                <input type="radio" name="searchType" th:id="${column.key}" th:value="${column.key}" th:checked="${column.key == 'all'}"/>
                <label th:for="${column.key}" th:text="${column.value}"></label>
            </span>
        </p>
        <p>
            <label for="searchTerm">Keyword:</label>
            <input type="text" name="searchTerm" id="searchTerm"/>
        </p>
        <input type="submit" value="Search"/>
    </form>
    <hr/>
    <table th:replace="fragments :: job-details">

    </table>
</div>
</body>
</html>